<div>
  <div>
    <h1>
      <%= @the_board.name %>
    </h1>

  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit board
    </h2>

    <form action="/modify_board/<%= @the_board.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_board.name %>">
      </div>

      <button>
        Update board
      </button>
    </form>
  </div>
</div>
<div>
  <div>
    <h2>
      Add a new post
    </h2>

    <form action="/insert_post/<%= @the_board.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_board.name %>">
      </div>

      <div>
        <label for="body_box">
          Title
        </label>

        <input type="text" id="body_box" name="query_body" value="<%= @the_board.name %>">
      </div>

      <button>
        Update board
      </button>
    </form>
  </div>
</div>

<div>
  <h2>Active Posts</h2>
  <table>
    <tr>
      <th> One </th>
      <th> Two </th>
    </tr>
    <tr>
      <td>1 1 1 1 1 1 1 1 1</td>
      <td>2 2 2 2 2 2 2 2 2 2</td>
    </tr>
  </table>
</div>

<div>
  <h2>Expired Posts</h2>
  <table>
    <tr>
      <th> One </th>
      <th> Two </th>
    </tr>
    <tr>
      <td>1 1 1 1 1 1 1 1 1</td>
      <td>2 2 2 2 2 2 2 2 2 2</td>
    </tr>
  </table>
</div>

<hr>
