<!DOCTYPE html>
<html>
  <head>
    <title>Bulletin Board 1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      body {
        background-color: #EBD7DA;
        color: #1D1A31;
      }
      body a {
        color: #9A4C95;
        text-decoration: none;
      }
      body h1 {
        background-color: #F08CAE
      }
      body th {
        background-color: #F08CAE;
      }
      body td {
        background-color: #FAB3CA;
      }
    </style>
  </head>

  <body>
    <ul>
      <li><a href="/boards">Boards</a></li>
      <li><a href="/posts">Posts</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
